Schematics/archetypes.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="archetypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="alt_hair">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="part">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="texture">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="color" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="mesh" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="archetype">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="base_mesh_parts">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="part">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="texture">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="color" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="slot" type="xs:string" use="required" />
                        <xs:attribute name="layer" type="xs:string" use="required" />
                        <xs:attribute name="mesh" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="preview_mesh_parts">
                <xs:complexType mixed="true">
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="part">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="mask">
                            <xs:complexType>
                              <xs:attribute name="slot" type="xs:string" use="required" />
                              <xs:attribute name="layer" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="unbounded" name="texture">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="color" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="slot" type="xs:string" use="required" />
                        <xs:attribute name="layer" type="xs:string" use="required" />
                        <xs:attribute name="mesh" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
              <xs:element name="expression">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="gene">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="value" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="blink" type="xs:boolean" use="required" />
                  <xs:attribute name="blink_duration" type="xs:decimal" use="required" />
                  <xs:attribute name="blink_min_delay" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="blink_max_delay" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="saccades" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element name="dna">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="gene">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="value" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="male" type="xs:boolean" use="required" />
            <xs:attribute name="hair_color" type="xs:string" use="required" />
            <xs:attribute name="eye_color" type="xs:string" use="required" />
            <xs:attribute name="skin_color" type="xs:string" use="required" />
            <xs:attribute name="type" type="xs:string" use="required" />
            <xs:attribute name="stance" type="xs:string" use="optional" />
            <xs:attribute name="voice_set" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>