Schematics/buffs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="buffs">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="buff">
          <xs:complexType mixed="true">
            <xs:sequence minOccurs="0">
              <xs:element maxOccurs="unbounded" name="modify">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="stat" type="xs:string" use="optional" />
                  <xs:attribute name="amount" type="xs:decimal" use="optional" />
                  <xs:attribute name="rate" type="xs:decimal" use="optional" />
                  <xs:attribute name="setValue" type="xs:decimal" use="optional" />
                  <xs:attribute name="type" type="xs:string" use="optional" />
                  <xs:attribute name="modifyValue" type="xs:decimal" use="optional" />
                  <xs:attribute name="mulValue" type="xs:decimal" use="optional" />
                  <xs:attribute name="buff" type="xs:string" use="optional" />
                  <xs:attribute name="tickrate" type="xs:unsignedByte" use="optional" />
                  <xs:attribute name="duration" type="xs:decimal" use="optional" />
                  <xs:attribute name="modifyMaxValue" type="xs:decimal" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="buffif" type="xs:string" use="optional" />
            <xs:attribute name="duration" type="xs:decimal" use="optional" />
            <xs:attribute name="actions" type="xs:string" use="optional" />
            <xs:attribute name="type" type="xs:string" use="optional" />
            <xs:attribute name="icon" type="xs:string" use="optional" />
            <xs:attribute name="name_key" type="xs:string" use="optional" />
            <xs:attribute name="description_key" type="xs:string" use="optional" />
            <xs:attribute name="tooltip_key" type="xs:string" use="optional" />
            <xs:attribute name="cures" type="xs:string" use="optional" />
            <xs:attribute name="debuffif" type="xs:string" use="optional" />
            <xs:attribute name="mutex" type="xs:string" use="optional" />
            <xs:attribute name="stack" type="xs:string" use="optional" />
            <xs:attribute name="causes" type="xs:string" use="optional" />
            <xs:attribute name="requires" type="xs:string" use="optional" />
            <xs:attribute name="ondebuff" type="xs:string" use="optional" />
            <xs:attribute name="hitmask" type="xs:string" use="optional" />
            <xs:attribute name="critical" type="xs:boolean" use="optional" />
            <xs:attribute name="castsound" type="xs:string" use="optional" />
            <xs:attribute name="onexpired" type="xs:string" use="optional" />
            <xs:attribute name="smell" type="xs:string" use="optional" />
            <xs:attribute name="overrides" type="xs:string" use="optional" />
            <xs:attribute name="overrideicon" type="xs:boolean" use="optional" />
            <xs:attribute name="ffcheck" type="xs:boolean" use="optional" />
            <xs:attribute name="notificationClass" type="xs:string" use="optional" />
            <xs:attribute name="name" type="xs:string" use="optional" />
            <xs:attribute name="description" type="xs:string" use="optional" />
            <xs:attribute name="stacklimit" type="xs:unsignedByte" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>