Schematics/gamestages.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="gamestages">
    <xs:complexType>
      <xs:sequence>
        <xs:choice maxOccurs="unbounded">
          <xs:element name="config">
            <xs:complexType>
              <xs:attribute name="startingWeight" type="xs:unsignedByte" use="required" />
              <xs:attribute name="scavengerGameDifficultyBonus" type="xs:unsignedByte" use="required" />
              <xs:attribute name="adventurerGameDifficultyBonus" type="xs:decimal" use="required" />
              <xs:attribute name="nomadGameDifficultyBonus" type="xs:decimal" use="required" />
              <xs:attribute name="warriorGameDifficultyBonus" type="xs:decimal" use="required" />
              <xs:attribute name="survivalistGameDifficultyBonus" type="xs:decimal" use="required" />
              <xs:attribute name="insaneGameDifficultyBonus" type="xs:decimal" use="required" />
              <xs:attribute name="daysAliveDifficultyBonus" type="xs:decimal" use="required" />
              <xs:attribute name="daysAliveChangeWhenKilled" type="xs:unsignedByte" use="required" />
              <xs:attribute name="diminishingReturns" type="xs:decimal" use="required" />
            </xs:complexType>
          </xs:element>
          <xs:element name="spawner">
            <xs:complexType>
              <xs:sequence>
                <xs:element maxOccurs="unbounded" name="gamestage">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="unbounded" name="spawn">
                        <xs:complexType>
                          <xs:attribute name="group" type="xs:string" use="required" />
                          <xs:attribute name="num" type="xs:unsignedShort" use="required" />
                          <xs:attribute name="maxAlive" type="xs:unsignedShort" use="required" />
                          <xs:attribute name="duration" type="xs:unsignedByte" use="optional" />
                          <xs:attribute name="interval" type="xs:unsignedByte" use="optional" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="stage" type="xs:unsignedShort" use="required" />
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="name" type="xs:string" use="required" />
            </xs:complexType>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="difficultyModifier">
            <xs:complexType>
              <xs:attribute name="name" type="xs:string" use="required" />
              <xs:attribute name="amount" type="xs:unsignedShort" use="required" />
            </xs:complexType>
          </xs:element>
          <xs:element maxOccurs="unbounded" name="group">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="spawner">
                  <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="count" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
              <xs:attribute name="name" type="xs:string" use="required" />
              <xs:attribute name="emptyChance" type="xs:decimal" use="required" />
              <xs:attribute name="decoyChance" type="xs:decimal" use="optional" />
              <xs:attribute name="decoy1hpChance" type="xs:decimal" use="optional" />
            </xs:complexType>
          </xs:element>
        </xs:choice>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>