Schematics/items.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="items">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="item">
          <xs:complexType mixed="true">
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element maxOccurs="unbounded" name="property">
                  <xs:complexType>
                    <xs:sequence minOccurs="0">
                      <xs:element maxOccurs="unbounded" name="property">
                        <xs:complexType>
                          <xs:attribute name="name" type="xs:string" use="required" />
                          <xs:attribute name="value" type="xs:string" use="required" />
                          <xs:attribute name="param1" type="xs:string" use="optional" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="optional" />
                    <xs:attribute name="value" type="xs:string" use="optional" />
                    <xs:attribute name="class" type="xs:string" use="optional" />
                    <xs:attribute name="param1" type="xs:string" use="optional" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="Property">
                  <xs:complexType>
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="value" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedShort" use="required" />
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>