Schematics/misc.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="iteminfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="animation">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="hold_type">
                <xs:complexType>
                  <xs:attribute name="id" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="newmodel" type="xs:boolean" use="required" />
                  <xs:attribute name="ray_cast" type="xs:decimal" use="required" />
                  <xs:attribute name="unholster" type="xs:decimal" use="required" />
                  <xs:attribute name="holster" type="xs:unsignedByte" use="optional" />
                  <xs:attribute name="two_handed" type="xs:boolean" use="optional" />
                  <xs:attribute name="ray_cast_moving" type="xs:decimal" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="smell">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="smell">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="range" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="strength" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="speed" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="duration" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="belt_range" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="belt_strength" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="heat_map_strength" type="xs:decimal" use="optional" />
                  <xs:attribute name="heat_map_time" type="xs:unsignedByte" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>