Schematics/progression.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="progression">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="player">
          <xs:complexType>
            <xs:attribute name="max_level" type="xs:unsignedByte" use="required" />
            <xs:attribute name="exp_to_level" type="xs:unsignedShort" use="required" />
            <xs:attribute name="experience_multiplier" type="xs:decimal" use="required" />
            <xs:attribute name="skill_points_per_level" type="xs:unsignedByte" use="required" />
            <xs:attribute name="skill_point_multiplier" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="skills">
          <xs:complexType>
            <xs:sequence>
              <xs:choice maxOccurs="unbounded">
                <xs:element name="player_skill">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="unbounded" name="effect">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="add">
                              <xs:complexType>
                                <xs:attribute name="skill_level" type="xs:string" use="required" />
                                <xs:attribute name="value" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="setvalue">
                              <xs:complexType>
                                <xs:attribute name="skill_level" type="xs:string" use="required" />
                                <xs:attribute name="value" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="multiply">
                              <xs:complexType>
                                <xs:attribute name="skill_level" type="xs:string" use="required" />
                                <xs:attribute name="value" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="name" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="icon" type="xs:string" use="required" />
                    <xs:attribute name="description_key" type="xs:string" use="required" />
                    <xs:attribute name="title_key" type="xs:string" use="required" />
                    <xs:attribute name="exp_to_level" type="xs:unsignedShort" use="optional" />
                    <xs:attribute name="group" type="xs:string" use="required" />
                    <xs:attribute name="experience_multiplier" type="xs:decimal" use="optional" />
                    <xs:attribute name="exp_gain_multiplier" type="xs:decimal" use="optional" />
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" name="perk">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:choice maxOccurs="unbounded">
                        <xs:element maxOccurs="unbounded" name="requirement">
                          <xs:complexType>
                            <xs:attribute name="perk_level" type="xs:unsignedByte" use="optional" />
                            <xs:attribute name="required_skill_name" type="xs:string" use="optional" />
                            <xs:attribute name="required_skill_level" type="xs:unsignedByte" use="optional" />
                            <xs:attribute name="skill_level" type="xs:unsignedByte" use="optional" />
                            <xs:attribute name="required_player_level" type="xs:unsignedByte" use="optional" />
                          </xs:complexType>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" name="recipe">
                          <xs:complexType>
                            <xs:attribute name="name" type="xs:string" use="required" />
                            <xs:attribute name="unlock_level" type="xs:unsignedByte" use="required" />
                          </xs:complexType>
                        </xs:element>
                        <xs:element maxOccurs="unbounded" name="effect">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element minOccurs="0" maxOccurs="unbounded" name="setvalue">
                                <xs:complexType>
                                  <xs:attribute name="perk_level" type="xs:unsignedByte" use="optional" />
                                  <xs:attribute name="value" type="xs:unsignedShort" use="required" />
                                  <xs:attribute name="skill_level" type="xs:unsignedByte" use="optional" />
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" maxOccurs="unbounded" name="multiply">
                                <xs:complexType>
                                  <xs:attribute name="perk_level" type="xs:unsignedByte" use="optional" />
                                  <xs:attribute name="value" type="xs:string" use="required" />
                                  <xs:attribute name="skill_level" type="xs:string" use="optional" />
                                </xs:complexType>
                              </xs:element>
                              <xs:element minOccurs="0" maxOccurs="unbounded" name="add">
                                <xs:complexType>
                                  <xs:attribute name="perk_level" type="xs:unsignedByte" use="optional" />
                                  <xs:attribute name="value" type="xs:string" use="required" />
                                  <xs:attribute name="skill_level" type="xs:string" use="optional" />
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                            <xs:attribute name="name" type="xs:string" use="required" />
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="material_group">
                          <xs:complexType>
                            <xs:attribute name="name" type="xs:string" use="required" />
                            <xs:attribute name="unlock_level" type="xs:unsignedByte" use="required" />
                          </xs:complexType>
                        </xs:element>
                      </xs:choice>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="icon" type="xs:string" use="required" />
                    <xs:attribute name="description_key" type="xs:string" use="optional" />
                    <xs:attribute name="title_key" type="xs:string" use="optional" />
                    <xs:attribute name="max_level" type="xs:unsignedByte" use="required" />
                    <xs:attribute name="skill_point_cost_multiplier" type="xs:decimal" use="required" />
                    <xs:attribute name="skill_point_cost_per_level" type="xs:unsignedByte" use="required" />
                    <xs:attribute name="always_fire" type="xs:boolean" use="optional" />
                    <xs:attribute name="group" type="xs:string" use="required" />
                    <xs:attribute name="exp_to_level" type="xs:unsignedInt" use="optional" />
                    <xs:attribute name="exp_gain_multiplier" type="xs:unsignedByte" use="optional" />
                    <xs:attribute name="description" type="xs:string" use="optional" />
                    <xs:attribute name="title" type="xs:string" use="optional" />
                    <xs:attribute name="passive_effect" type="xs:boolean" use="optional" />
                  </xs:complexType>
                </xs:element>
                <xs:element name="action_skill">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element maxOccurs="unbounded" name="effect">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="multiply">
                              <xs:complexType>
                                <xs:attribute name="skill_level" type="xs:string" use="optional" />
                                <xs:attribute name="value" type="xs:string" use="required" />
                                <xs:attribute name="perk_level" type="xs:unsignedByte" use="optional" />
                              </xs:complexType>
                            </xs:element>
                            <xs:element minOccurs="0" maxOccurs="unbounded" name="add">
                              <xs:complexType>
                                <xs:attribute name="skill_level" type="xs:string" use="required" />
                                <xs:attribute name="value" type="xs:string" use="required" />
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                          <xs:attribute name="name" type="xs:string" use="required" />
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                    <xs:attribute name="name" type="xs:string" use="required" />
                    <xs:attribute name="icon" type="xs:string" use="required" />
                    <xs:attribute name="description_key" type="xs:string" use="required" />
                    <xs:attribute name="title_key" type="xs:string" use="required" />
                    <xs:attribute name="exp_to_level" type="xs:unsignedShort" use="required" />
                    <xs:attribute name="experience_multiplier" type="xs:decimal" use="optional" />
                    <xs:attribute name="group" type="xs:string" use="required" />
                  </xs:complexType>
                </xs:element>
              </xs:choice>
            </xs:sequence>
            <xs:attribute name="max_level" type="xs:unsignedByte" use="required" />
            <xs:attribute name="exp_to_level" type="xs:unsignedByte" use="required" />
            <xs:attribute name="experience_multiplier" type="xs:decimal" use="required" />
            <xs:attribute name="skill_point_cost_multiplier" type="xs:unsignedByte" use="required" />
            <xs:attribute name="skill_point_cost_per_level" type="xs:unsignedByte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>