Schematics/recipes.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="recipes">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="recipe">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="ingredient">
                <xs:complexType>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="count" type="xs:unsignedShort" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" name="wildcard_forge_category" />
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="count" type="xs:unsignedShort" use="required" />
            <xs:attribute name="tooltip" type="xs:string" use="optional" />
            <xs:attribute name="craft_area" type="xs:string" use="optional" />
            <xs:attribute name="material_based" type="xs:boolean" use="optional" />
            <xs:attribute name="craft_time" type="xs:decimal" use="optional" />
            <xs:attribute name="craft_exp_gain" type="xs:unsignedByte" use="optional" />
            <xs:attribute name="craft_tool" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>