Schematics/rwgmixer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rwgmixer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="world">
          <xs:complexType>
            <xs:attribute name="ruleset" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element name="rulesets">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ruleset">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cell_rule">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="prob" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="cell_cache_size" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="cell_size" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="cell_offset" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="generation_distance" type="xs:unsignedShort" use="required" />
                  <xs:attribute name="terrain_generator" type="xs:string" use="required" />
                  <xs:attribute name="biome_generator" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="cell_rules">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="cell_rule">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="cave_count">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="path_material">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="path_radius">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="hub_rule">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="prob" type="xs:decimal" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="wilderness_rule">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="hub_rules">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="hub_rule">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="hub_type">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="hub_layout">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="width">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="height">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="path_material">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="path_radius">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="downtown_zone_size_perc">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:decimal" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="prefab_rule">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="street_gen">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="axiom">
                            <xs:complexType>
                              <xs:attribute name="value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element maxOccurs="unbounded" name="rule">
                            <xs:complexType>
                              <xs:attribute name="char" type="xs:string" use="required" />
                              <xs:attribute name="replace_with" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="alt_commands">
                            <xs:complexType>
                              <xs:attribute name="chars" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="level" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="length_multiplier" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="wilderness_rules">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="wilderness_rule">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="path_material">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="path_radius">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="path_adjust_terrain">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:boolean" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="prefab_rule">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="prob" type="xs:unsignedByte" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="spawn_min_max" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="prefab_rules">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="prefab_rule">
                <xs:complexType>
                  <xs:sequence minOccurs="0">
                    <xs:element maxOccurs="unbounded" name="prefab">
                      <xs:complexType>
                        <xs:attribute name="rule" type="xs:string" use="optional" />
                        <xs:attribute name="name" type="xs:string" use="optional" />
                        <xs:attribute name="max_count" type="xs:unsignedByte" use="optional" />
                        <xs:attribute name="min_count" type="xs:unsignedByte" use="optional" />
                        <xs:attribute name="prob" type="xs:decimal" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="hub_layouts">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="hub_layout">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="township_type">
                      <xs:complexType>
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="street">
                      <xs:complexType>
                        <xs:attribute name="start_point" type="xs:string" use="required" />
                        <xs:attribute name="end_point" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" name="lot">
                      <xs:complexType>
                        <xs:attribute name="min_x_y" type="xs:string" use="required" />
                        <xs:attribute name="size" type="xs:string" use="optional" />
                        <xs:attribute name="rotation_to_road" type="xs:unsignedByte" use="required" />
                        <xs:attribute name="prefab" type="xs:string" use="optional" />
                        <xs:attribute name="align" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="terrain_generators">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="terrain_generator">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="module">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="property">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                        <xs:attribute name="seed_additive" type="xs:unsignedByte" use="optional" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="output">
                      <xs:complexType>
                        <xs:attribute name="module" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="use_old_final" type="xs:boolean" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="biome_generators">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="biome_generator">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="module">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="property">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="output">
                      <xs:complexType>
                        <xs:attribute name="module" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="biome_intensity_generators">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="biome_intensity_generator">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="module">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element maxOccurs="unbounded" name="property">
                            <xs:complexType>
                              <xs:attribute name="name" type="xs:string" use="required" />
                              <xs:attribute name="value" type="xs:string" use="required" />
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="type" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="output">
                      <xs:complexType>
                        <xs:attribute name="module" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="biome_spawn_rules">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="biome_spawn_rule">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" name="distance_from_center">
                      <xs:complexType>
                        <xs:attribute name="range" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="biome_generator">
                      <xs:complexType>
                        <xs:attribute name="range" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="terrain_generator">
                      <xs:complexType>
                        <xs:attribute name="range" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>