Schematics/spawning.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="spawning">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="biome">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="spawn">
                <xs:complexType>
                  <xs:attribute name="maxcount" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="respawndelay" type="xs:unsignedByte" use="required" />
                  <xs:attribute name="time" type="xs:string" use="required" />
                  <xs:attribute name="entitygroup" type="xs:string" use="required" />
                  <xs:attribute name="spawnDeadChance" type="xs:unsignedByte" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="entityspawner">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="day">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="property">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="required" />
                        <xs:attribute name="value" type="xs:string" use="required" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="value" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="dynamic" type="xs:boolean" use="optional" />
            <xs:attribute name="wrapMode" type="xs:string" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>