Schematics/traders.xsd

<?xml version="1.0" encoding="Windows-1252"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="traders">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="trader_item_groups">
          <xs:complexType>
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="trader_item_group">
                <xs:complexType mixed="true">
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item">
                      <xs:complexType>
                        <xs:attribute name="name" type="xs:string" use="optional" />
                        <xs:attribute name="count" type="xs:string" use="optional" />
                        <xs:attribute name="prob" type="xs:decimal" use="optional" />
                        <xs:attribute name="group" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="name" type="xs:string" use="required" />
                  <xs:attribute name="count" type="xs:string" use="optional" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="trader_info">
          <xs:complexType>
            <xs:sequence minOccurs="0">
              <xs:element name="trader_items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item">
                      <xs:complexType>
                        <xs:attribute name="group" type="xs:string" use="optional" />
                        <xs:attribute name="count" type="xs:string" use="optional" />
                        <xs:attribute name="name" type="xs:string" use="optional" />
                        <xs:attribute name="prob" type="xs:decimal" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="count" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="tier_items">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="item">
                      <xs:complexType>
                        <xs:attribute name="group" type="xs:string" use="optional" />
                        <xs:attribute name="count" type="xs:string" use="optional" />
                        <xs:attribute name="name" type="xs:string" use="optional" />
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                  <xs:attribute name="level" type="xs:string" use="required" />
                  <xs:attribute name="count" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:unsignedByte" use="required" />
            <xs:attribute name="min_inventory" type="xs:unsignedByte" use="optional" />
            <xs:attribute name="max_inventory" type="xs:unsignedByte" use="optional" />
            <xs:attribute name="min_items_swapped" type="xs:unsignedByte" use="optional" />
            <xs:attribute name="max_items_swapped" type="xs:unsignedByte" use="optional" />
            <xs:attribute name="reset_interval" type="xs:byte" use="required" />
            <xs:attribute name="open_time" type="xs:string" use="optional" />
            <xs:attribute name="close_time" type="xs:string" use="optional" />
            <xs:attribute name="override_buy_markup" type="xs:decimal" use="optional" />
            <xs:attribute name="override_sell_markup" type="xs:decimal" use="optional" />
            <xs:attribute name="allow_sell" type="xs:boolean" use="optional" />
            <xs:attribute name="player_owned" type="xs:boolean" use="optional" />
            <xs:attribute name="rentable" type="xs:boolean" use="optional" />
            <xs:attribute name="rent_cost" type="xs:unsignedShort" use="optional" />
            <xs:attribute name="rent_time" type="xs:unsignedByte" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="buy_markup" type="xs:decimal" use="required" />
      <xs:attribute name="sell_markdown" type="xs:decimal" use="required" />
      <xs:attribute name="quality_mod" type="xs:string" use="required" />
      <xs:attribute name="currency_item" type="xs:string" use="required" />
    </xs:complexType>
  </xs:element>
</xs:schema>