Schematics/weathersurvival.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="weathersurvival">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="property">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string" use="required" />
            <xs:attribute name="value" type="xs:decimal" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="TemperatureHeight">
          <xs:complexType>
            <xs:attribute name="height" type="xs:unsignedByte" use="required" />
            <xs:attribute name="addDegrees" type="xs:byte" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>